header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin: auto;
}

button{
    width: auto;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: purple;
    color: white;
}