header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

body p{
    width: 50%;
    margin: auto;
}

body button{
    width: auto;
    margin: auto;
}